*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Noto Sans JP', sans-serif;
    line-height: 1.6;
}

img {
    max-width: 100%;
    display: block;
}

h1,
h2,
h3,
p {
    margin: 0;
}

section {
    padding: 7em 0;
}

.container {
    width: 85%;
    max-width: 65em;
    margin: 0 auto;
}

.split {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    justify-content: center;
}

.split > * {
    flex-basis: 25%;
    min-width: 10em;
}

.spacing > * + * {
    margin-top: var(--spacer, 2rem);
}

.btn {
    display: inline-block;
    text-decoration: none;
    padding: .5em 1.25em;
    background: var(--clr-accent, blue);
    color: var(--clr-text, white);
    margin-left: 3em;
    margin-right: 3em;
    font-weight: 700;
    font-size: 1.125rem;
    text-transform: uppercase;
    border-radius: .25em;
    transition: 
        transform 250ms ease-in-out,
        opacity 250ms linear;
}

.btn:hover,
.btn:focus {
    transform: scale(1.1);
    opacity: .9;
}

.primary-title {
    font-size: clamp(3rem, calc(5vw + 1rem), 4.5rem);
    line-height: 1;
    text-transform: uppercase;
}

.section-title {
    text-align: center;
    font-size: clamp(2.5rem, 5vw + 1rem, 4rem);
    line-height: 1;
    color: green;
    margin-bottom: 5rem;
}

.hero {
    color: white;
    text-align: center;
    padding: 15em 0;
    background-color: #222;

}

@supports (background-blend-mode: multiply) {
    .hero {
        background: 
            url("../assets/Images/Tomato-Logo.webp"),
            radial-gradient(#444, #111);
        background-blend-mode: multiply;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center center;
    }
}

.features {
    background: #eee;
}

.featured_tool {
    color: rgb(71, 64, 64);
    display: block;
    transform: scale(1);
    transition: transform 250ms ease-in-out;
    text-decoration: none;

    color: #333;
    text-align: center;
    line-height: 1;
}

span {
    display: block;
    font-weight: 700;
    font-size: 1.5rem;
}

.featured_tool:hover,
.featured_tool:focus {
    transform: scale(1.6);

}

.featured_tool:hover .feature_details,
.featured_tool:focus .feature_details {
    opacity: 1;
    text-shadow: 0 0 .25rem rgba(#fff, .25);
}

.featured_tool::after {
    content: '';
    position: absolute;
    top: 5%;
    left: 5%;
    padding: 60% 60% 0 0;
    border-radius: 50%;
    background: olive;
    z-index: -2;
}

.feature_details {
    opacity: 0;
}

.benefit {
    background: radial-gradient(var(--clr-inner, limegreen), var(--clr-outer, purple));
    padding: 3em 0;
    border-radius: 1em;
    margin-bottom: 3em;
    text-align: center;
}

.benefit_title {
    font-size: clamp(3rem, calc(5vw + 1rem), 5.5rem);
    text-transform: uppercase;
    line-height: 1;
    color: #fff;
    text-shadow: 0 0 .2em rgba(#000, .2);
}

.benefit_image {
    margin: -8em 0 0 0;
}

.benefit {
    text-align: left;
    margin-bottom: 9em;
}

@media (min-width: 45em) {

    .benefit_image {
        float: right;
        width: 65%;
        shape-outside: url(../assets/Images/Char/orange-octavia.webp);
        margin: 0 -5em 0 0;
    }

    .benefit_title {
        margin: 0;
    }

    
}

.hero {
    --clr-accent: #faa700;
}

.orange {
    --clr-inner: #6dd5ed;
    --clr-outer: #2193b0;
    --clr-accent: #008951;
}
.tomato {
    --clr-inner: #fce4b3;
    --clr-outer: #eac886;
    --clr-accent: #2f4858;
}
.pear {
    --clr-inner: #faa700;
    --clr-outer: #e48d00;
    --clr-accent: #a1173c;
}